---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import '../styles/global.css';

const pageTitle: String = 'Blog';
const allPost = await Astro.glob('../pages/posts/*.md');
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>

  <ul>
    {allPost.map(post => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
